body{
  padding: 10px;
  background: rgb(248, 201, 209);
}

.flex{
  display: flex;
}

.g-20{
  gap: 20px;
}

.wrap{
  flex-wrap: wrap;
}

.s-b{
  justify-content: space-between;
}

.aic{
  align-items: center;
}

.jcc{
  justify-content: center;
}

.clmn{
  flex-direction: column;
}

.m-t-50{
  margin-top: 50px;
}

img{
  width:300px;
  height: 300px;
  border-radius: 150px;
}



a{
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  text-align: center;
}

a:hover{
  color: black;
  text-decoration: 2px underline #b9865c
}

.btn-nav{
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
  box-shadow: none;
}

.passwordform{
  position: absolute;
  top:40%;
  left:40%;
  background: rgb(248, 201, 209);
  box-shadow:0px 0px 9px 0px rgba(0, 0, 0, 0.363);
  text-align: center;
  width: 250px;
  padding: 10px;
}

button{
  background: none;
  border: none;
  box-shadow:0px 0px 9px 0px rgba(0, 0, 0, 0.363);
  border-radius: 50px;
  height: 30px;
  padding: 5px;
}

button:hover{
  cursor: pointer;
  color: black;
  text-decoration: 2px underline #b9865c
}

.textecenter{
  text-align: center;
}

.w-250{
  width: 250px;
}

.h-200{
  height: 200px;
}

@media (max-width: 768px) {
  .passwordform{
    top: 100px;
    left: 15px;
  }
}